<% for(var i=0; i < data.length; i++) { %>
<div class="col-xl-4 col-lg-6 col-md-6">
  <div class="box_grid wow">
    <figure class="block-reveal">
      <div class="block-horizzontal"></div>

      <a href="/app/book/<%= data[i].product_id %>"><img src="<%= data[i].image_url %>" class="img-fluid"
          alt="Book Cover Image"></a>
      <div class="preview"><span>Preview Book</span></div>
    </figure>
    <div class="wrapper">
      <h3><%= data[i].book_title %></h3>
      <h6 class=""><i class="icon-user-5"></i> <%= data[i].book_authors %></h6>
      <p name="desc" id="desc"><%= data[i].book_desc %></p>
      <p>Book Pages: <i class="icon-book-3"></i> <%= data[i].book_pages %></p>
      <hr>

      <div class="text-center mt-1 mb-1">
        <a href=" /app/book/<%= data[i].product_id %>" class="btn btn-primary
          ">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- /box_grid -->
<% } %>

<% if (data.length<=0) { %>
<div class="breadcrumb"> There are no results to be displayed.</div>
<% } %>
<script>
  $(document).ready(function () {
    function truncateText(selector, maxLength) {
      var element = document.querySelector(selector),
        truncated = element.innerText;
      if (truncated.length > maxLength) {
        truncated = truncated.substr(0, maxLength) + '...';
      }
      return truncated;
    }
    document.querySelector('p[name=desc]').innerText = truncateText('p[name=desc]', 107);
  });
</script>