<% include ./includes/head-one %>

<body>
  <div id="page" class="theia-exception">
    <% include ./includes/user-nav %>
    <main>
      <section id="hero_in" class="general">
        <div class="wrapper">
          <div class="container">
            <h1 class="fadeInUp"><span></span>Account</h1>
          </div>
        </div>
      </section>
      <!--/hero_in-->
      <div class="container margin_60_35">
        <div class="row">
          <aside class="col-lg-6" id="sidebar">
            <div class="profile">
              <h4>Profile Details</h4>
              <ul>
                <li>Name <span class="float-right"><%= user.name %></span> </li>
                <li>Email <span class="float-right"><%= user.email %></span> </li>
                <li>Joined on <span class="float-right"> <%= user.date %></span></li>
              </ul>

            </div>
            <div class="profile">
              <h4>Account Details</h4>
              <ul>
                <li>Token Balance <span class="float-right">&#9830; <span id="balance"></span> ALT</span></li>
                <li>Eth Address <span class="float-right"><%= user.ethaddress%></span> </li>
              </ul>

            </div>
          </aside>
          <!--/aside -->

          <div class="col-lg-6">
            <div class="box_teacher">
              <div class="indent_title_in">
                <i class="pe-7s-wallet"></i>
                <h3>Buy More Tokens</h3>
                <p>Ensure you cross check before purchasing.</p>
              </div>
              <p class="nopadding">You cannot modify the Ethaddress or Email.</p>
              <p class="nopadding">Please place the order in Indian Rupees.</p>
              <p class="nopadding">₹ 100.00 = ♦ 1.0000 ALT.</p> <br>

              <form action="/app/payment" method="POST" id="tokens" autocomplete="off">

                <span class="input">
                  <input class="input_field" type="text" id="ethaddress" name="ethaddress" value="<%= user.ethaddress%>"
                    readonly>
                  <label class="input_label">
                    <span class="input__label-content">Ethaddress</span>
                  </label>
                </span>

                <span class="input">
                  <input class="input_field" type="text" id="email" name="email" value="<%= user.email%>" readonly>
                  <label class="input_label">
                    <span class="input__label-content">Email</span>
                  </label>
                </span>
                <span class="input">
                  <input class="input_field" type="number" id="token" name="token" min="1" step="0.01">
                  <label class="input_label">
                    <span class="input__label-content">Amount</span>
                  </label>
                </span>
                <span class="input">
                  <input class="input_field" type="number" id="token2" name="token2" min="1" step="0.01">
                  <label class="input_label">
                    <span class="input__label-content">Confirm Amount</span>
                  </label>
                </span>
                <div class="mt-4" style="position:relative;">
                  <!-- <button type="submit" class="btn_1 full-width">Purchase Now</button> -->
                  <input type="submit" class="btn_1 full-width" value="Purchase Now" id="submit-contact">
                </div>
              </form>


              <!--wrapper_indent -->
              <hr class="styled_2">
              <div class="indent_title_in">
                <i class="pe-7s-menu"></i>
                <h3>Past Transactions</h3>
                <p>Click on the proof for Matic Explorer page.</p>
              </div>
              <div class="wrapper_indent">

                <table class="table table-responsive table-striped add_bottom_30">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Token Value</th>
                      <th>Date</th>
                      <th>Proof</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% include ./partials/transactions %>
                  </tbody>
                </table>
              </div>
              <!--wrapper_indent -->
            </div>
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </main>
    <!--/main-->
    <% include ./includes/footer-one %>
  </div>
  <!-- COMMON SCRIPTS -->
  <script src="/static/js/jquery-2.2.4.min.js"></script>
  <script src="/static/js/common_scripts.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/assets/validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/static/javascripts/account.js"></script>
</body>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/users/logout">Logout</a>
      </div>
    </div>
  </div>
</div>