<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/author/dashboard">Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/dashboard">Home</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/profile">Profile</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/book">Books</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/account">Account</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/about">About</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-success" role="button"
                href="/dashboard">Switch to User</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/users/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
  <% include ./partials/messages %>
  <div class="jumbotron mt-3">
    <h1 class="display-3">Hello, <%= user.name %></h1>
    <h2 class="display-6">Welcome to ALT Author family.</h2>
    <hr class="my-4">
    <% if(count > 0) { %>
    <h4 class="display-6" style="align-self: center;">All your active and available books will appear here.</h4>
    <% } %>
    <div class="row">
      <% for(var i=0; i < count; i++) { %>
        <div class="card mb-3 col-4" style="height: 570px;">
            <h3 class="card-header" id="title"><%= data[i].book_title%></h3>
            <div class="card-body">
              <h5 class="card-title" id="author"><%= data[i].book_authors%></h5>
              <h6 class="card-subtitle text-muted">Active since: <%= data[i].date%></h6>
            </div>
            <img style="height: 300px; width: 199px; display: block; align-self: center;" 
                src= "<%= data[i].image_url%>" alt="Card image" id="img">
            <div class="card-body" style="align-self: center;">
              <a href="/app/book/<%= data[i].product_id%>" class="btn btn-primary">View</a>
            </div>
            <div class="card-footer text-muted">
               Book Pages: <%= data[i].book_pages%>
            </div>
          </div>
          <% } %>
    </div>
  </div>