<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/author/dashboard">Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/dashboard">Home</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/profile">Profile</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/book">Books</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/account">Account</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/about">About</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-success" role="button"
                href="/dashboard">Switch to User</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/users/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
<% include ./partials/messages %>
<div class="jumbotron mt-3">
  <h1>Hello, <%= user.name %> </h1>
  <p>This section allows you to have a look at all the books sent for approval as well as all the books
    approved.</p>
</div>

<% if(books.length != 0) { %>
<section style="margin: 16px 0px;">
  <h3>Approved Books</h3>
  <div class="table-responsive bg-secondary">
    <table class="table">
      <thead>
        <tr>
          <th>Name of the Book</th>
          <th>Genre</th>
          <th>Date</th>
          <th>Option</th>
        </tr> 
      </thead>
      <tbody>
        <% for(var i=0; i < books.length; i++) { %>
        <tr>
          <td><%= books[i].book_title %></td>
          <td><%= books[i].genres %></td>
          <td><%= books[i].date %></td>
          <td><a class="btn btn-outline-primary" role="button" href="/app/ebook/<%= books[i].admin_product_id %>">View</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
<% } %>
<section style="margin: 16px 0px;">
  <div class="row">
    <div class="col">
      <h3>Books sent for review</h3>
    </div>
    <div class="col-auto"><a class="btn btn-primary d-lg-flex justify-content-lg-end" role="button"
        href="/author/newdraft">New Book</a></div>
  </div>
  <div class="table-responsive bg-secondary" style="margin-top: 10px;">
    <table class="table">
      <thead>
        <tr>
          <th>Name of the Book</th>
          <th>Genre</th>
          <th>Date</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < drafts.length; i++) { %>
          <% if(drafts[i].admin_approve_request) { %>
          <tr>
          <td><%= drafts[i].book_title %></td>
          <td><%= drafts[i].genres %></td>
          <td><%= drafts[i].date %></td>
          <td><a class="btn btn-outline-primary" role="button" href="/author/<%= drafts[i]._id %>">View</a></td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<% if(drafts.length != 0) { %>
<section style="margin: 16px 0px;">
  <h3>Books Reverted</h3>
  <div class="table-responsive bg-secondary">
    <table class="table">
      <thead>
        <tr>
          <th>Name of the Book</th>
          <th>Date</th>
          <th>Msg</th>
          <th>Option</th>
        </tr> 
      </thead>
      <tbody>
        <% for(var i=0; i < drafts.length; i++) { %>
        <% if(drafts[i].admin_revert) { %>
        <tr>
          <td><%= drafts[i].book_title %></td>
          <td><%= drafts[i].date %></td>
          <td><%= drafts[i].admin_revert_msg %></td>
          <td><a class="btn btn-outline-primary" role="button" href="/author/<%= drafts[i]._id %>">View</a></td> 
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
<% } %>