<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/author/dashboard">Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/dashboard">Home</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/profile">Profile</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/book">Books</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/account">Account</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/about">About</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-success" role="button"
                href="/dashboard">Switch to User</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/users/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <div class="clearfix" style="margin-left: 440px;"> <a class="btn btn-outline-primary pull-right" href="/author/updateprofile"><i class="fab fa-pencil" aria-hidden="true"></i>&nbsp;Edit</a></div>
      <img src="<%= profile.profilePicture%>" id="profilePic" class="mt-3 rounded-circle img-fluid text-center" alt="your profile image"
      style="max-width: 10rem; height: auto; margin: 0 auto;">
      <h1 class="text-center mb-1 mt-3"><%= profile.fullName%></h1>
      <h5 class="text-center mb-3"><a href="http://localhost:3000/<%= profile.username%>" class="text-muted"><i class="fa fa-0.5x fa-user" aria-hidden="true"></i>&nbsp;@<%= profile.username%></a></h5>
      <h5 class="text-center mb-3"><%= profile.bio%></h5>
      <h4 class="text-center mb-3"><i class="fa fa-0.5x fa-map-marker" aria-hidden="true"></i>&nbsp;<%= profile.location%></h4>
      <h4 class="text-center mb-3"><a href="https://www.twitter.com/<%= profile.twitter%>" target="_blank" class="text-info"><i class="fab fa-twitter" aria-hidden="true"></i>&nbsp;<%= profile.twitter%></a></h4>
      <h4 class="text-center mb-3"><a href="http://<%= profile.website%>" target="_blank" class=""><i class="fa fa-0.5x fa-link" aria-hidden="true"></i>&nbsp;<%= profile.website%></a></h4>
    </div>
  </div>
</div>
